
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Lobster+Two&family=Mulish:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

/* Header section start */
.header{
    height: 100vh;
    width: 100%;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
    
}

.header h1{
    
    color: #fff;
    
    position: absolute;
    top: 30%;
    left: 30%;
}

.header p{
    font-size: 26px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
      
}

.header .btn{
    text-align: center;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 70%;
    left: 45%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    background-color: #ff6347;
    color: #fff;
    
} 

/* Header Section End */

/* Total Donation start */
.total-donate{
    margin-top: 10%;
}

.total-donate p{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;
}

.main-div{
    margin-top: 5%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

 .donation{
    height: 200px;
    width: 200px;
    background-color: rgba(143, 114, 109, 0.1);
    box-shadow: 1px 3px 20px rgb(238, 230, 230);
 }
 .main-div .active{
    border: 4px solid tomato;
    background-color: rgba(241, 73, 43, 0.5);
    color: red;
 }

 .donation h4{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    top: 40%;
    left: 28%;
 }

 .total-donate .other-amount{
    margin-top: 10%;
 }

 .total-donate h5{
    text-align: center;
    font-size: 26px;
    opacity: 0.4;
 }

 .total-donate hr{
    width: 80%;
    opacity: 0.5;
    position: absolute;
    left: 10%;
 }

 .total-donate .btn{
    margin-top: 2%;
    text-align: center;
    padding: 10px 15px;
    border: none;
    position: relative;
    top: 70%;
    left: 45%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    background-color: #ff6347;
    color: #fff;
 }

 
/* Total Donation End */

/* Donatin plan start */
.donation-plan{
    height: 310px;
    width: 310px;
    padding: 40px 15px 15px 15px;
    box-shadow: 1px 3px 20px rgb(238, 230, 230);
    border-radius: 5px;
    
}

.donation-plan h3{
    padding-top: 15px;
}

.donation-plan p{
    text-align: start;
    font-size: 16px;
}

.donation-plan:first-child{
    background-color: rgba(94, 202, 245, 0.3);
}

.donation-plan:nth-child(2){
    background-color: rgba(245, 117, 94, 0.3);
}

.donation-plan:last-child{
    background-color: rgba(245, 185, 94, 0.3);
}



/* Donatin plan End */

/* Our-Aim section Start */
.our-aim{
    margin-top: 10%;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    
}

.our-aim h2{
    color: tomato;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0px 0px 30px;
    margin-top: 20px;
    
}

.our-aim p{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 30px 0px 0px 30px;
}

.our-main-div{
    margin-top: 5%;
    display: flex;
    gap: 2%;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 40px;
}

.our-img{
    height: 300px;
    width: 300px;
    
}

.our-img img{
    height: 250px;
    width: 250px;
    
}

#first-img{
    margin-top: 60px;
    
}

#second-img{
    margin-top: 60px;
}
/* Our-Aim section End */

/* Form area start */
.form-area{
    width: 80%;
    background-color: rgba(241, 223, 119, 0.3);
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
}

.form-area input{
    height: 40px;
    width: 400px;
    position: relative;
    top: 35%;
    left: 30%;
    border-radius: 5px;
    border: none;
    background-color: rgba(211, 211, 211, 1);
    font-size: 18px;
    padding: 20px;
}

.form-area .subscribe{
   
    padding: 10px 15px;
    border: none;
    position: relative;
    top: 35%;
    left: 29%;
    border-radius:5px 20px 20px 5px;
    font-weight: 700;
    font-size: 18px;
    background-color: #ff6347;
    color: #fff;
    
}

/* Form area end */

/* footer  section start */
.footer{
    margin-top: 15%;
    height: 200px;
    width: 100%;
    background-color: #000;
    
}

.footer h2{
    color: #fff;
     font-family: 'Lobster Two', cursive;
     text-align: center;
     position: relative;
     top: 20%;
     color: tomato;
}

.footer p{
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
/* footer  section End */